#hidden,#hidden1,#hidden2{
    display: none;
    align-items: center;
}
#container0{
    background-position: center;
    background-size: cover;
    padding-top: 20px;
}
#container2{
    background-image: url(assets/s_image.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;    
    height: 450px;
    align-items: center;
    text-align: center;
    color: white;
  }
  #container3{
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 12px;
  }

  #inputMessage{
      height: 200px;
  }
  #contact{
    text-align: center;
     background-image: url(assets/c_image.jpg);
     ;
  }
  
